<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">PonyRacer</a>
    <button type="button" (click)="toggleNavbar()" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" [ngClass]="{'navbar-collapse': true, collapse: navbarCollapsed}">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link">Races</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
