<form (ngSubmit)="register()" [formGroup]="userForm">
  <div class="mb-3">
    <label class="d-block">Login</label>
    <input [ngClass]="{'alwrong': userForm.get('login')?.dirty && userForm.get('login')?.invalid }"  type="text"   formControlName="login"/>
    <div id="login-warning" class="mb-3" *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Login is required</div>
    <div id="login-length-error" *ngIf="loginCtrl.dirty && loginCtrl?.hasError('minlength')">
      Your login should be at least 3 characters
    </div>
    <br />
  </div>
  <div formGroupName="passwordForm">
    <div class="mb-3">
      password<br />
      <input [ngClass]="{'alwrong': passwordCtrl.dirty && passwordCtrl.invalid }" type="password" formControlName="password" />
      <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
      <br />
    </div>
    <div class="mb-3">
      confirm password<br />
      <input
        [ngClass]="{'alwrong': confirmPasswordCtrl.dirty && confirmPasswordCtrl.invalid }"
        type="password"
        formControlName="confirmPassword"
      />
      <div *ngIf="confirmPasswordCtrl.dirty && confirmPasswordCtrl.hasError('required')">Confirming password is required</div>
      <div *ngIf="(passwordCtrl.dirty || confirmPasswordCtrl.dirty) && passwordForm.hasError('matchingError')" id="password-matching-error">
        Your password does not match
      </div>
      <br />
    </div>
  </div>
  <div class="mb-3">
    date<br />
    <input
      [ngClass]="{'alwrong': userForm.get('birthYear')?.dirty && userForm.get('birthYear')?.hasError('required') }"
      type="number"
      formControlName="birthYear"
    />
    <div *ngIf="userForm.get('birthYear')?.dirty && userForm.get('birthYear')?.hasError('required')">Birth year is required</div>
    <div *ngIf="birthYearCtrl.dirty && (birthYearCtrl?.hasError('min') || birthYearCtrl?.hasError('max'))" id="invalid-year-error">
      This is not a valid year
    </div>
  </div>
  <button [disabled]="userForm.invalid">Lets Go</button><br />
  <div id="registration-error" *ngIf="registrationFailed">Try again with another login.</div>
</form>
