<form (ngSubmit)="register()" [formGroup]="userForm">
  <div class="mb-3">
    Login<br />
    <input
      [ngClass]="{'alwrong': userForm.get('login')?.dirty && userForm.get('login')?.invalid }"
      type="text"
      formControlName="login"
    /><br />
    <div *ngIf="userForm.get('login')?.dirty && userForm.get('login')?.hasError('required')">Login is required</div>
    <div id="login-length-error" *ngIf="userForm.get('login')?.dirty && userForm.get('login')?.hasError('minlength')">
      Your login should be at least 3 characters
    </div>
    <br />
  </div>
  <div class="mb-3">
    password<br />
    <input
      [ngClass]="{'alwrong': userForm.get('password')?.dirty && userForm.get('password')?.invalid }"
      type="password"
      formControlName="password"
    />
    <div *ngIf="userForm.get('password')?.dirty && userForm.get('password')?.hasError('required')">Password is required</div>
    <br />
  </div>
  <div class="mb-3">
    date<br />
    <input
      [ngClass]="{'alwrong': userForm.get('birthYear')?.dirty && userForm.get('birthYear')?.hasError('required') }"
      type="number"
      formControlName="birthYear"
    />
    <div *ngIf="userForm.get('birthYear')?.dirty && userForm.get('birthYear')?.hasError('required')">Birth year is required</div>
  </div>
  <button [disabled]="userForm.invalid">Lets Go</button><br />
</form>
